.App {
  text-align: center;
}

.felix-logo {
  animation: App-logo-spin infinite 30s linear;
  height: 20vmin;
  width: 20vmin;
  pointer-events: none;
  padding: 1rem;
}

.App-header {
  background-color: #395182;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: rgb(47, 170, 179);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.pet {
  border: 2px dashed gray;
  grid-auto-flow: column;
  width: auto;
}

.pet > img {
  width: auto;
}
